Repository civic-interconnect/civic-transparency-ptag-spec: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-schemas, validate-openapi, check-version-prep

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.8
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix]

  - repo: local
    hooks:        
      - id: validate-schemas
        name: Validate JSON Schemas
        entry: python .github/scripts/validate_schemas.py
        language: python
        files: ^src/ci/transparency/spec/schemas/.*\.schema\.json$
        pass_filenames: false
        
      - id: validate-openapi
        name: Validate OpenAPI spec
        entry: python .github/scripts/validate_openapi.py
        language: python
        files: ^src/ci/transparency/spec/schemas/.*\.openapi\.yaml$
        pass_filenames: false
        additional_dependencies: ['PyYAML']  
        
      - id: check-version-prep
        name: Check if versions look ready for release
        entry: python .github/scripts/check_version_prep.py
        language: python
        files: ^(CHANGELOG\.md|src/ci/transparency/spec/schemas/transparency_api\.openapi\.yaml)$
        pass_filenames: false

Prep v0.2.1
  CHANGELOG.md
  site/docs/privacy/index.html
  site/index.html
  site/specs/index.html
  site/specs/provenance_tag/index.html
  site/specs/series/index.html
  src/ci/transparency/spec/schemas/series.schema.json
  src/ci/transparency/spec/schemas/transparency_api.openapi.yaml
  tests/test_schemas.py
Due: validate-schemas, validate-openapi, check-version-prep

Prep v0.2.2
  docs/en/specs/ptag.md
  docs/en/specs/ptag_api.md
  docs/en/specs/ptag_series.md
Due: none

Prep v0.2.3
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  MANIFEST.in
  README.md
  docs/en/api/types.md
  docs/en/guide/enums.md
  docs/en/guide/series.md
  docs/en/index.md
  docs/en/privacy.md
  docs/en/specs/index.md
  docs/en/specs/ptag.md
  docs/en/specs/ptag_api.md
  docs/en/specs/ptag_series.md
  docs/en/usage.md
  mkdocs.yml
  src/ci/transparency/ptag/spec/schemas/ptag.schema.json
  src/ci/transparency/ptag/spec/schemas/ptag_api.openapi.yaml
  src/ci/transparency/ptag/spec/schemas/ptag_series.schema.json
  tests/test_schemas.py
Due: check-version-prep

Prep v0.2.4
  CHANGELOG.md
  pyproject.toml
  src/ci/transparency/ptag/spec/schemas/ptag.schema.json
Due: check-version-prep

Prep v0.2.5
  CHANGELOG.md
  docs/en/specs/ptag.md
  src/ci/transparency/ptag/spec/schemas/ptag.schema.json
Due: check-version-prep

Add PyPI version badge to README
  README.md
Due: none
